html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button-toggle-label-content {
  text-align: left !important;
  padding: 0 1.25rem !important;
}

.mat-list-item-content {
  @apply flex justify-between;
}
